.container {
  width: 30%;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 1020px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 520px) {
  .container {
    width: 100%;
  }
}
